[program:queue-worker]
command=/usr/local/bin/run-queue.sh
autostart=true
autorestart=true
startsecs=3
startretries=10
stopwaitsecs=3600
stopsignal=TERM
stdout_logfile=/var/log/supervisor/queue-worker_%(process_num)02d.log
stdout_logfile_maxbytes=0
redirect_stderr=true
