[program:scheduler]
command=/usr/local/bin/run-scheduler.sh
autostart=true
autorestart=true
startsecs=3
startretries=10
stopsignal=TERM
stdout_logfile=/var/log/supervisor/scheduler.log
stdout_logfile_maxbytes=0
redirect_stderr=true
